h1 {
    font-size: 32px; color: red;
}

h2 {
    font-size: 28px; color: green;
}

li {
    font-size: 16px;
}

.azul {
    color: blue;
}

.laranja {
    color: chocolate;
}

.roxa {
    color: purple;
}

.amarelo {
    color: yellowgreen;
}

.fontHelvica {
    font-family: Helvetica;
}

p {
    font-size: 12px;
}

#tamanhoimagem {
height: 150px;
width: 200px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}