body{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: whitesmoke;
    padding: 0;
    border: 0;
    margin: 0;
}
input{
    font-weight: bold;
    width: 500px;
    height: 30px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px #ccc solid;
    padding-left: 5px;
}

legend {
    border: 1px solid #6c6c6c;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    font-size: 12px;
}

label{
    font-size: 15px;
}

fieldset {
    width: 500px;
    background-color: azure;
}

#enviar {
    width: 100%;
    cursor: pointer;
}

#enviar:hover{
    background-color: rgb(154, 238, 129);
}

.tabela{
    border: 1px solid black;
}

.marca_linha:hover{
    background-color: rgb(153, 231, 255);
}

.menu li{
    float: left;
    list-style: none;
}

.menu a{
    background: rgb(80, 80, 80);
    padding: 10px 20px;
    color: whitesmoke;
    font-size: 13px;
    
}

.limpa{
    clear: both;
}

ul {
    padding: 0;
    
}

a {
    text-decoration:  none;
}

.livrovisitas {
    margin-top: 27px;
    margin-bottom: 29px;
}