h1 {
    color: #ff00ff;
    font-size: 42px;
}

h2 {
    color:#00ff00;
    font-size: 28px;
}

.logosenac {
    width: 200px;
    height: 150px;
}

ul {
    background-color: #eeeeee;
}

.laranja {
    color: orange;
}

.marrom {
    color: brown;
}

li {
    font-size: 14px;
}

a {
    color: #ff00ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: grey;
}